<div class="row">
  <div class="col-md-10 col-md-offset-1 form-group">
    <%= form_tag({controller: "cadmin/events", action: :index}, method: :get, id: "events_search") do %>
    <%= text_field_tag :content, params[:content] %>
    <%= submit_tag t("cadmin.view.event.search"), name: nil %>
  </div>
</div>
<div id="events"><%= render "events" %></div>
<% end %>

