<%= form_for Comment.new, url: blog_comments_path(@blog), remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :content, placeholder: t("comment.view.write") , class: "form-control"%>
  </div>
  <%= f.submit t("comment.view.post"), class: "btn btn-primary" %>
<% end %>


