<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <button class="btn btn-success" id="open-attendance" ><%= t "cadmin.view.attendance.create_new" %> </button>
    <div id="dialog-attendance" >
      <%= render 'cadmin/attendances/form_attendance', attendance: Attendance.new, f_attendance_url: cadmin_attendances_path %>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
