<% provide :title, t("user.view.createCause") %>
<section id="way-help" class="way-help-section">
  <div class="container">
    <div class="row section-content">
     <div class="section-title text-center">
      <div class="section-title-text text-uppercase">
        <h2><%= yield :title %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render "cause_form" %>
      </div>
    </div>
  </div>
</div>
</section>

