<div class="row">
  <h4><%= t "cause.view.share_to" %>: </h4>
  <div class="social-share-button">
    <span onclick="popup(this);" class="ssb-icon icon-fb" url="<%= t("social_share_link.fb", url: url, des: des) %>"></span>
  </div>
</div>
