<%= hidden_field :event, :geocode, {id: "geocode"} %>
<%= hidden_field_tag :is_dynamic, is_dynamic, {id: "is_dynamic"} %>
<div id="map" >
</div>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=<%#= ENV["GOOGLE_KEY"] %>"></script>-->
