<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <button class="btn btn-success" id="open-tag" ><%= t "cadmin.view.tag.create_new") %></button>
    <div id="dialog-tag" >
      <%= render 'cadmin/tags/form_tag', tag: Tag.new %>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
