.fundus-logo{
  height: inherit;
}

#map{
  height: 300px;
  width: auto;
}
.search-component{
  display: inherit;
  max-width: 150px;
}
.social-list li{
  display: inline-block;
}
.footer-gallery li{
  display: inline-block;
}
